.post-wrapper {
    border: 2px solid #35373B;
    border-radius: 8px;
    background-color: #27292D;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.profile-info-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.profile-info-section {
    padding-bottom: 16px;
    display: flex;
    width: 90%;
}

.profile-image {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #C5C7CA;
}
.profile-info {
    margin-left: 15px;
    width: 90%;
}

.profile-name {
    font-size: 16px;
    color: #C5C7CA;
    font-weight: 500;
}

.profile-activity {
    color: #7F8084;
    font-size: 14px;
    font-weight: 500;
}

.space {
    margin-left: 5px;
}

.profile-name, .profile-activity {
    padding: 0;
    margin: 0;
}

.options {
    height: 19px;
    padding: 0;
    margin: 0;
    background: transparent;
}

.post-section {
    border-radius: 8px;
    background: #191920;
    display: flex;
    padding: 20px;
}

.greet-icon {
    width: 48px;
    height: 48px;
    background-color: #27292D;
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post {
    width: 80%;
    color: #7F8084;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.comments {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.comments-count {
    color: #7F8084;
    font-size: 14px;
    margin: 0;
    padding: 0px 8px;
}